<html>
{{#each foo}}
{{this}}
{{/each}}
<h3>Add new phone:</h3>
<form id="addphone" action="/phone" method="post">
    Model:            <input type="text"   name="model"><br>
    Screen Size:      <input type="number" name="screen_size"><br>
    Internal Storage: <input type="number" name="in_storage"><br>
    External Storage: <input type="number" name="ex_storage"><br>
    Manufacturer:     <select name="manufacturer">
        {{#each man}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
    </select><a href="/manufacturer"> New</a><br>
    <input type="submit" value ="Submit">
    </form>
<br/>





<h3>Current Phones:</h3>
<table>
    <thead>
        <th>Model</th>
        <th>Screen Size</th>
        <th>Internal Storage</th>
        <th>External Storage</th>
        <th>Manufacturer</th>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
            <td>{{model}}</td>
            <td>{{screen_size}}</td>
            <td>{{in_storage}}</td>
            <td>{{ex_storage}}</td>
            <td>{{name}}</td>
            <td><button onclick="deletePhone({{id}})"> Delete</button></td>
            <td><a href="/phone/{{id}}"> Update</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
</html>
